/* Overview Component Styles */
.overview {
  background-color: #e9ecef; /* Light gray background for a professional look */
  padding: 30px;
  font-family: 'Poppins', sans-serif;
  color: #333;
  width: 100vw; /* Full viewport width */
  height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden;
}

.overview h1 {
  font-size: 34px;
  margin-bottom: 20px;
  color: #212529;
  text-align: center;
}

.overview-description {
  font-size: 16px;
  color: #333;
  text-align: center;
  margin-bottom: 30px;
}

.stats-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 50px 0;
}

.stat-item {
  flex: 1;
  text-align: center;
  font-family: 'Arial', sans-serif;
  margin: 0 20px;
}

.stat-item h3 {
  font-size: 2.5em;
  margin: 0;
  color: cadetblue; /* Stat number color */
}

.stat-item p {
  font-size: 1.2em;
  margin: 5px 0 0;
  color: white;
  font-weight: 400; /* Description color */
}

.stat-box {
  background: linear-gradient(135deg, #007bff, #0056b3); /* Updated to a blue gradient */
  color: #ffffff;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  flex: 1 1 200px;
  max-width: calc(33.333% - 20px);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.stat-box h2 {
  font-size: 38px;
  margin-bottom: 10px;
  font-weight: 600;
}

.stat-box p {
  font-size: 18px;
  font-weight: 400;
}

.stat-box:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.recent-activities, .recent-events, .upcoming-highlights {
  margin-top: 20px;
}

.recent-activities h2, .recent-events h2, .upcoming-highlights h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #212529;
  text-align: center;
}

.recent-activities ul, .recent-events ul, .upcoming-highlights ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.recent-activities li, .recent-events li, .upcoming-highlights li {
  font-size: 16px;
  color: #333;
  margin-bottom: 8px;
}

.recent-activities strong, .recent-events strong, .upcoming-highlights strong {
  font-weight: 600;
}

/* Text Effects */
.texteffect {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.h2 {
  font-size: 30px;
  text-align: center;
}

.h2 span {
  color: #007bff;
  font-weight: bold;
}
