/* Full-page layout */
.event-management-page {
    display: flex;
    flex-direction: column;
    width: 84vw; /* Set width to 75% of the viewport width */
    height: 100vh; /* Full viewport height */
    padding: 20px;
    background-color: #f4f4f4;
    margin: 0 auto; /* Center the page horizontally */
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.event-list {
    width: 82vw; /* Increased max-width */
    margin: 20px auto;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.event-item {
    padding: 25px; /* Increased padding */
    margin-bottom: 15px; /* Increased margin */
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event-details {
    flex: 1;
}
.join-button {
    border-radius: 50px;
    background: blue;
    white-space: nowrap;
    padding: 10px 22px;
    color: #010606;
    font-size: 16px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
  }
  
  .join-button:hover {
    transition: all 0.2s ease-in-out;
    background: #fff;
    color: #010606;
  }
